/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$bg : #fff;
$link : #6C6C6C;
$link-acc : #719B65;
$node : #1F4A6F;
$central : #871818;
$parent : #496E7F;
$child : #6C6C6C;
$depth : 10;
$colors : #871818, orange, #E8BF50, #719B65, #496E7F, #1F4A6F, #7BB3D2, #7BB3D2, #262626, #55595B, #6C6C6C, #CCCCCC;

@mixin transformOrigin($n){
	-moz-transform-origin: $n;
	-ms-transform-origin:  $n;
	-o-transform-origin: $n;
	-webkit-transform-origin:  $n;
	transform-origin: $n;
}

body{
	background-color: $bg;
	font-weight: normal;
	font-family: 'Lato', sans-serif;
	font-size: 0px;
}
.display-none{
	display: none;
}
.full-page{
	height: 100vh;
	width: 100%;
}
.green{
	fill: green!important;
}
.links{
	.link{
		fill: transparent;
    	pointer-events: none;
		stroke: $link;
		stroke-width: 1;
		transition: all 0.25s ease-out;
	}
}
.labels{
	transition: all 0.25s ease-out;
	.label{
		fill: #fff;
		font-size: 5px;
		pointer-events: none;
	}
}
.arrow{
	fill: $node;
	stroke: red;
	stroke-width: 1;
}
.stats{
	background-color: rgba(#ccc, 0.25);
	box-shadow: 0px 0px 10px 0px #55595B,  inset 0px 0px 20px 0px rgba(#6C6C6C, 0.5);
	box-sizing: border-box;
	display: inline-block;
	height: 100vh;
	overflow-y: auto;
	text-align: left;
	transition: width 0.25s ease-out;
	vertical-align: top;
	width: 0vw;
	h3{
		font-size: calc(24px + 1vmin);
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		letter-spacing: 3px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	ul{
		border-bottom: 4px solid #ccc;
		display: inline-block;
		padding: 7.5px 0;
		vertical-align: top;
		width: 90%;
		h5{
			font-family: 'Lato', sans-serif;
			font-size: calc(14px + 1vmin);
    		padding-bottom: 7.5px;
			text-transform: capitalize;
		}
		li{
			font-family: 'Open Sans', sans-serif;
			font-size: calc(10px + 1vmin);
    		padding-bottom: 7.5px;
			padding-left: 5px;
		}
	}
}
.img{
	display: inline-block;
	height: 100vh;
	transition: width 0.25s ease-out;
	vertical-align: top;
	width: 100%;
}
.nodes{
	.node{
		cursor: pointer;
		fill: $node;
		stroke: $node;
		stroke-width: 0;
		@include transformOrigin(center center);
		transition: all 0.25s ease-out;
		&.central{
			fill: $central;
		}
		&:hover{
			fill: #ccc;
			opacity: 1;
		}
	}
	// @for $i from 1 through $depth {
	// 	.depth#{$i}{
	// 		fill: nth($colors, ($i % length($colors)) + 1);
	// 	}
	// 	.oldestChild#{$i}, .oldestChild-#{$i + 1}{
	// 		stroke: nth($colors, (($i+1) % length($colors)) + 1);
	// 		stroke-width: 1;
	// 	}
	// }
}
.mousedover{
	.nodes{
		.node{
			fill: mix($node,$bg,10%);
			transition: all 0.25s ease-in;
		}
	}
	.links{
		.link{
			opacity: 0.1;
			transition: all 0.25s ease-in;
		}
	}
	.labels{
		opacity: 0.1;
		transition: all 0.25s ease-in;
	}
	#cur{
		.labels{
			opacity: 1;
		}
		.link.active{
			opacity: 1;
			stroke: $link-acc;
			stroke-width: 1.25;
		}
		.node{
			&.child, &.parent, &.active{
				fill: $node;
			}
			&.active{
				fill: $central;
			}
			&.child{
				fill: $child;
			}
			&.parent{
				fill: $parent;
			}
			&:hover{
				fill: #ccc;
				opacity: 1;
			}
		}
	}
	.img{
		transition: width 0.5s ease-in;
		width: 70%;
	}
	.stats{
		padding: 50px 10px;
		transition: width 0.5s ease-in;
		width: 30%;
	}
	.reset{
		font-size: 24px;
		&:hover{
			color: $link-acc;
			font-size: 28px;
			transition: all 0.25s ease-in;
		}
	}
}
.reset{
	cursor: pointer;
	font-size: 0px;
	position: fixed;
	left: 25px;
	top: 10px;
	transition: all 0.25s ease-out;
	&:after{
		content:'\21BB';
	}
}