/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 27, ../sass/screen.scss */
body {
  background-color: #fff;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  font-size: 0px;
}

/* line 33, ../sass/screen.scss */
.display-none {
  display: none;
}

/* line 36, ../sass/screen.scss */
.full-page {
  height: 100vh;
  width: 100%;
}

/* line 40, ../sass/screen.scss */
.green {
  fill: green !important;
}

/* line 44, ../sass/screen.scss */
.links .link {
  fill: transparent;
  pointer-events: none;
  stroke: #6C6C6C;
  stroke-width: 1;
  transition: all 0.25s ease-out;
}

/* line 52, ../sass/screen.scss */
.labels {
  transition: all 0.25s ease-out;
}
/* line 54, ../sass/screen.scss */
.labels .label {
  fill: #fff;
  font-size: 5px;
  pointer-events: none;
}

/* line 60, ../sass/screen.scss */
.arrow {
  fill: #1F4A6F;
  stroke: red;
  stroke-width: 1;
}

/* line 65, ../sass/screen.scss */
.stats {
  background-color: rgba(204, 204, 204, 0.25);
  box-shadow: 0px 0px 10px 0px #55595B, inset 0px 0px 20px 0px rgba(108, 108, 108, 0.5);
  box-sizing: border-box;
  display: inline-block;
  height: 100vh;
  overflow-y: auto;
  text-align: left;
  transition: width 0.25s ease-out;
  vertical-align: top;
  width: 0vw;
}
/* line 76, ../sass/screen.scss */
.stats h3 {
  font-size: calc(24px + 1vmin);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* line 84, ../sass/screen.scss */
.stats ul {
  border-bottom: 4px solid #ccc;
  display: inline-block;
  padding: 7.5px 0;
  vertical-align: top;
  width: 90%;
}
/* line 90, ../sass/screen.scss */
.stats ul h5 {
  font-family: 'Lato', sans-serif;
  font-size: calc(14px + 1vmin);
  padding-bottom: 7.5px;
  text-transform: capitalize;
}
/* line 96, ../sass/screen.scss */
.stats ul li {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(10px + 1vmin);
  padding-bottom: 7.5px;
  padding-left: 5px;
}

/* line 104, ../sass/screen.scss */
.img {
  display: inline-block;
  height: 100vh;
  transition: width 0.25s ease-out;
  vertical-align: top;
  width: 100%;
}

/* line 112, ../sass/screen.scss */
.nodes .node {
  cursor: pointer;
  fill: #1F4A6F;
  stroke: #1F4A6F;
  stroke-width: 0;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  transition: all 0.25s ease-out;
}
/* line 119, ../sass/screen.scss */
.nodes .node.central {
  fill: #871818;
}
/* line 122, ../sass/screen.scss */
.nodes .node:hover {
  fill: #ccc;
  opacity: 1;
}

/* line 139, ../sass/screen.scss */
.mousedover .nodes .node {
  fill: #e9edf1;
  transition: all 0.25s ease-in;
}
/* line 145, ../sass/screen.scss */
.mousedover .links .link {
  opacity: 0.1;
  transition: all 0.25s ease-in;
}
/* line 150, ../sass/screen.scss */
.mousedover .labels {
  opacity: 0.1;
  transition: all 0.25s ease-in;
}
/* line 155, ../sass/screen.scss */
.mousedover #cur .labels {
  opacity: 1;
}
/* line 158, ../sass/screen.scss */
.mousedover #cur .link.active {
  opacity: 1;
  stroke: #719B65;
  stroke-width: 1.25;
}
/* line 164, ../sass/screen.scss */
.mousedover #cur .node.child, .mousedover #cur .node.parent, .mousedover #cur .node.active {
  fill: #1F4A6F;
}
/* line 167, ../sass/screen.scss */
.mousedover #cur .node.active {
  fill: #871818;
}
/* line 170, ../sass/screen.scss */
.mousedover #cur .node.child {
  fill: #6C6C6C;
}
/* line 173, ../sass/screen.scss */
.mousedover #cur .node.parent {
  fill: #496E7F;
}
/* line 176, ../sass/screen.scss */
.mousedover #cur .node:hover {
  fill: #ccc;
  opacity: 1;
}
/* line 182, ../sass/screen.scss */
.mousedover .img {
  transition: width 0.5s ease-in;
  width: 70%;
}
/* line 186, ../sass/screen.scss */
.mousedover .stats {
  padding: 50px 10px;
  transition: width 0.5s ease-in;
  width: 30%;
}
/* line 191, ../sass/screen.scss */
.mousedover .reset {
  font-size: 24px;
}
/* line 193, ../sass/screen.scss */
.mousedover .reset:hover {
  color: #719B65;
  font-size: 28px;
  transition: all 0.25s ease-in;
}

/* line 200, ../sass/screen.scss */
.reset {
  cursor: pointer;
  font-size: 0px;
  position: fixed;
  left: 25px;
  top: 10px;
  transition: all 0.25s ease-out;
}
/* line 207, ../sass/screen.scss */
.reset:after {
  content: '\21BB';
}
